/* **************************************STARTS BODY ***************************** */
body{
    background-color: rgb(168, 193, 193);
   margin: 0;
   /* rgb(168, 193, 193) */
}
p {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 15px;
    line-height: 30px;
    color: rgb(81, 136, 185);
    /* text-indent: 20px; */
    font-size: 16px;
}
h1{
    color: rgb(169, 169, 169);
    margin: 15px 15px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
/* **************************************ENDS BODY ***************************************** */
/* ***************************************************************************************** */
/* **************************************STARTS NAVBAR AND MENU***************************** */
.nav-main{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.btn-toggle-nav{
    width: 60px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url("/img/menu-4.png");
    background-size: 60%;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    display: flex;
}
.btn-toggle-nav:hover{
opacity: 0.5;
}
.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.nav-main ul li{
    list-style: none;
    line-height: 40px;
    display: flex;
}
.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.nav-sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 60px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    background-color: rgb(0, 0, 0);
    z-index: 1000;
}

.nav-sidebar ul{
 padding-top: 15px;
 overflow: hidden;
 visibility: hidden;

}
.nav-sidebar ul li{
   line-height: 60px;
   list-style: none; 
   margin-left: -40px;
}
.nav-sidebar ul li span, .nav-sidebar ul li a{
   display: block;
   height: 60px; 
   padding: 0 10px;
   text-decoration: none;
   text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
}
.nav-sidebar ul li a:hover{
background-color: rgb(65, 56, 56);
}


.logo-name{
    height: 60px;
    left: 60.5%;
    position: absolute;
}


/* **************************************ENDS NAVBAR AND MENU***************************** */
/* ***************************************************************************************** */
/* ************************************* STARTS HOME PAGE ********************************** */

.home-container{
    display:flex;
    flex-direction:column;
    background-color: rgb(0, 0, 0);
    width: 70%;
    height: 70%;
    margin:auto;
    margin-top: 120px;
    position:relative;
    border: 1px solid rgb(255, 255, 255);
    z-index: 900;
    flex-shrink: 0;
}


/* **************************************ENDS HOME PAGE************************************* */
/* ***************************************************************************************** */
/* ************************************* STARTS MEET THE TEAM******************************* */
.team-container-flex{
  display: flex;
}

.team-container{
  display:grid;
  margin-left:15%;
  margin-top: 120px;
  width: 80%;
  gap: 2px 2px;
  /* background-color: rgb(0, 0, 0); */
  /* border: 1px solid rgb(255, 255, 255); */
  grid-template-columns: 21% 78%;
  grid-template-rows: 60px;
  grid-auto-rows: auto;
  padding: 10px;
  }

.team-member {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  /* overflow:auto; */
}
.team-member p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  color:rgb(81, 136, 185);
  padding-top:  3px;
  font-size: 16px;
  text-indent: 0px;
  margin-top: 0;
}
.team-member h1 {
  color: rgb(169, 169, 169);
  margin-top: -5px;
  font-family: Arial, Helvetica, sans-serif;
}

.team-member:first-child{
  /* background-color: red; */
  grid-column: 1 / -1;
  
  
}



/* **************************************ENDS MEET THE TEAM************************************* */
/* ***************************************************************************************** */
/* ************************************* STARTS FAQ ***************************************** */


.faq-container{
    margin-left: 23%;
    margin-top: 120px;
    width: 900px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 115px;
    grid-auto-rows: 200px;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    grid-auto-columns: minmax(150px, auto);
}

.faq-container :first-child {
    grid-column: 1 / -1;
  }

  .faq-container div{
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: rgb(0, 0, 0);
    align-items: auto;
  }
  .faq-container div p{
    font-size: 10px;
    margin-top: -25px;
    margin-left: 400px;
  }
  /* ******** STARTS FAQ ACCORDION ******** */
  
  .faq-answer{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: aliceblue;
    padding: 15px;
    font-size: 16px;
  }
  .faq-question{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: aliceblue;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
  }

  .faq-question:hover{
    cursor: pointer;
    background-color: rgb(74, 66, 66);
  }

  .faq-question:after {
    content: '\002B';    /* adds "+" to accordion when closed */
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";     /* adds "-" to accordion when active */
  }
 
  
/* ******** ENDS FAQ ACCORDION ******** */


/* **************************************ENDS FAQ************************************* */
/* ***************************************************************************************** */
/* ************************************* STARTS CONTACT ***************************************** */

.contact-info {
display: grid;
margin-left: 32%;
margin-top: 120px;
width: 550px;
grid-template-rows: 60px;
grid-auto-rows: 50px;
background-color: black;
}

.contact-icon:first-child h1{
    color: aliceblue;
    margin-top: -5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 32%;
}

.contact-icon{
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  margin-bottom: -20px;
}

.contact-icon img{
  height: 30px;
  width: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.contact-icon a{
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}



